workflows/Manual/1503_Manual_HTTP_Export_Webhook.json
{
  "id": "IXumIzS9WtPAhKFX",
  "meta": {
    "instanceId": "workflow-4ed9eb0e",
    "versionId": "1.0.0",
    "createdAt": "2025-10-05T19:16:47.584547",
    "updatedAt": "2025-10-05T19:16:47.584549",
    "owner": "n8n-user",
    "license": "MIT",
    "category": "automation",
    "status": "active",
    "priority": "high",
    "environment": "production"
  },
  "name": "Export Zammad Objects Users, Roles, Groups and Organizations to Excel",
  "tags": [
    "automation",
    "n8n",
    "production-ready",
    "excellent",
    "optimized"
  ],
  "nodes": [
    {
      "id": "59b12a25-d90f-47f0-a043-a51f71f5761e",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        100,
        6760
      ],
      "parameters": {},
      "typeVersion": 1,
      "notes": "This manualTrigger node performs automated tasks as part of the workflow."
    },
    {
      "id": "259acda6-75be-4011-b021-56321ab10478",
      "name": "Zammad Univeral User Object",
      "type": "n8n-nodes-base.set",
      "position": [
        2060,
        100
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "user_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "organization_id",
              "value": "={{ $json.organization_id }}"
            }
          ],
          "string": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "firstname",
              "value": "={{ $json.firstname }}"
            },
            {
              "name": "lastname",
              "value": "={{ $json.lastname }}"
            },
            {
              "name": "role_ids",
              "value": "={{ $json.role_ids.join() }}\n"
            },
            {
              "name": "groups",
              "value": "={{ $json.group_ids }}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "notes": "This set node performs automated tasks as part of the workflow."
    },
    {
      "id": "57c68cc2-f5d6-4425-9dc2-b2d6b21f0026",
      "name": "Zammad Univeral Organization Object",
      "type": "n8n-nodes-base.set",
      "position": [
        1500,
        100
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "organization_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "notes": "This set node performs automated tasks as part of the workflow."
    },
    {
      "id": "c40b275c-1d33-4604-8073-3651641c94ed",
      "name": "Zammad Univeral Role Object",
      "type": "n8n-nodes-base.set",
      "position": [
        1780,
        100
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "role_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "notes": "This set node performs automated tasks as part of the workflow."
    },
    {
      "id": "29a257db-955d-4ff3-a7bb-f9a888f96e78",
      "name": "Get all Organizations",
      "type": "n8n-nodes-base.zammad",
      "position": [
        100,
        5860
      ],
      "parameters": {
        "resource": "organization",
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "zammadTokenAuthApi": {
          "id": "fj5GuzcJuNLQeMxz",
          "name": "Zammad Token Auth account"
        }
      },
      "typeVersion": 1,
      "notes": "This zammad node performs automated tasks as part of the workflow."
    },
    {
      "id": "b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb",
      "name": "Get all Roles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        100,
        6040
      ],
      "parameters": {
        "url": "{{ $env.BASE_URL }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.zammad_api_key }}"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "notes": "This httpRequest node performs automated tasks as part of the workflow."
    },
    {
      "id": "9f5049cc-37ca-4069-86a1-75dffa9c2c96",
      "name": "Convert to Excel Organizations",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        100,
        460
      ],
      "parameters": {
        "options": {
          "fileName": "Zammad_Organizations.xlsx"
        },
        "operation": "xlsx"
      },
      "typeVersion": 1.1,
      "notes": "This convertToFile node performs automated tasks as part of the workflow."
    },
    {
      "id": "1a05b494-919c-4e53-8772-8c504e667f1c",
      "name": "Convert to Excel Roles",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        100,
        640
      ],
      "parameters": {
        "options": {
          "fileName": "Zammad_Roles.xlsx"
        },
        "operation": "xlsx"
      },
      "typeVersion": 1.1,
      "notes": "This convertToFile node performs automated tasks as part of the workflow."
    },
    {
      "id": "f1160af5-fcee-421d-9ede-b6f56ac0ce8d",
      "name": "Convert to Excel Users",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        100,
        820
      ],
      "parameters": {
        "options": {
          "fileName": "Zammad_Users.xslx"
        },
        "operation": "xlsx"
      },
      "typeVersion": 1.1,
      "notes": "This convertToFile node performs automated tasks as part of the workflow."
    },
    {
      "id": "192c5342-5140-48f9-acb0-d14a41064fa3",
      "name": "Get all Users",
      "type": "n8n-nodes-base.zammad",
      "position": [
        100,
        6220
      ],
      "parameters": {
        "filters": {},
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "zammadTokenAuthApi": {
          "id": "fj5GuzcJuNLQeMxz",
          "name": "Zammad Token Auth account"
        }
      },
      "typeVersion": 1,
      "notes": "This zammad node performs automated tasks as part of the workflow."
    },
    {
      "id": "ae687777-c1cb-4a23-ae1e-aa34febc27d6",
      "name": "Zammad Univeral Group Object",
      "type": "n8n-nodes-base.set",
      "position": [
        1220,
        100
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "group_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "notes": "This set node performs automated tasks as part of the workflow."
    },
    {
      "id": "0d38e0b3-1a59-4a8f-9a04-8526aba91fd5",
      "name": "Get all Groups",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        100,
        5680
      ],
      "parameters": {
        "url": "{{ $env.BASE_URL }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.zammad_api_key }}"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "notes": "This httpRequest node performs automated tasks as part of the workflow."
    },
    {
      "id": "e30bd0ad-9772-4af7-9012-99199fee65b2",
      "name": "If Node",
      "type": "n8n-nodes-base.if",
      "position": [
        100,
        6400
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0ca9d3a3-b726-4396-8cec-4a74c8e3949b",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json }}",
              "rightValue": 1781
            }
          ]
        }
      },
      "typeVersion": 2.2,
      "notes": "This if node performs automated tasks as part of the workflow."
    },
    {
      "id": "2a83536e-e250-425a-aac7-f26ede0caf54",
      "name": "Basic Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        100,
        100
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "68b32087-5e23-4590-8042-0061234ce479",
              "name": "zammad_base_url",
              "type": "string",
              "value": "-put-your-zammad-base-url-"
            },
            {
              "id": "7db7572e-2524-4f2a-a1d6-b44330662c30",
              "name": "zammad_api_key",
              "type": "string",
              "value": "-put-your-api-key-"
            }
          ]
        }
      },
      "typeVersion": 3.4,
      "notes": "This set node performs automated tasks as part of the workflow."
    },
    {
      "id": "db6a3024-9778-4d1e-8b25-34f2ee3ec26f",
      "name": "Convert to Excel Groups",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        100,
        280
      ],
      "parameters": {
        "options": {
          "fileName": "Zammad_Groups.xlsx"
        },
        "operation": "xlsx"
      },
      "typeVersion": 1.1,
      "notes": "This convertToFile node performs automated tasks as part of the workflow."
    },
    {
      "id": "bd191e0d-927d-44ca-afe6-fa6c7f3d59a2",
      "name": "Filter Groups if needed",
      "type": "n8n-nodes-base.if",
      "position": [
        100,
        5140
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0ca9d3a3-b726-4396-8cec-4a74c8e3949b",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json }}",
              "rightValue": {}
            }
          ]
        }
      },
      "typeVersion": 2.2,
      "notes": "This if node performs automated tasks as part of the workflow."
    },
    {
      "id": "c7c7b6b4-7faa-48b4-b7d8-6782dd1e4187",
      "name": "Filter Roles if needed",
      "type": "n8n-nodes-base.if",
      "position": [
        100,
        5500
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0ca9d3a3-b726-4396-8cec-4a74c8e3949b",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json }}",
              "rightValue": 1781
            }
          ]
        }
      },
      "typeVersion": 2.2,
      "notes": "This if node performs automated tasks as part of the workflow."
    },
    {
      "id": "a255bc7b-5d35-4671-852e-53f2b0980c26",
      "name": "Filter Organizations if needed",
      "type": "n8n-nodes-base.if",
      "position": [
        100,
        5320
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0ca9d3a3-b726-4396-8cec-4a74c8e3949b",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json }}",
              "rightValue": 1781
            }
          ]
        }
      },
      "typeVersion": 2.2,
      "notes": "This if node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        1000
      ],
      "parameters": {
        "message": "Error occurred in b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-0d38e0b3-1a59-4a8f-9a04-8526aba91fd5",
      "name": "Stopanderror 1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        6580
      ],
      "parameters": {
        "message": "Error occurred in 0d38e0b3-1a59-4a8f-9a04-8526aba91fd5",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        100
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 20 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      },
      "notes": "This stickyNote node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb-dc99ed5b",
      "name": "Error Handler for b4a9c2ca",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        4600
      ],
      "parameters": {
        "message": "Error occurred in workflow execution at node b4a9c2ca",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-9f5049cc-37ca-4069-86a1-75dffa9c2c96-494fe152",
      "name": "Error Handler for 9f5049cc",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        4420
      ],
      "parameters": {
        "message": "Error occurred in workflow execution at node 9f5049cc",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-1a05b494-919c-4e53-8772-8c504e667f1c-b697f393",
      "name": "Error Handler for 1a05b494",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        4240
      ],
      "parameters": {
        "message": "Error occurred in workflow execution at node 1a05b494",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-f1160af5-fcee-421d-9ede-b6f56ac0ce8d-abef53b3",
      "name": "Error Handler for f1160af5",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        4960
      ],
      "parameters": {
        "message": "Error occurred in workflow execution at node f1160af5",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-0d38e0b3-1a59-4a8f-9a04-8526aba91fd5-a82e5ba3",
      "name": "Error Handler for 0d38e0b3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        4060
      ],
      "parameters": {
        "message": "Error occurred in workflow execution at node 0d38e0b3",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-db6a3024-9778-4d1e-8b25-34f2ee3ec26f-671daa45",
      "name": "Error Handler for db6a3024",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        4780
      ],
      "parameters": {
        "message": "Error occurred in workflow execution at node db6a3024",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "documentation-34ec35de",
      "name": "Workflow Documentation 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        100
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 27\n- **Node Types**: 8\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened (no sensitive data)\n- **Documentation**: ✅ Complete\n\n## Node Breakdown\n- **When clicking ‘Test workflow’**: manualTrigger\n- **Zammad Univeral User Object**: set\n- **Zammad Univeral Organization Object**: set\n- **Zammad Univeral Role Object**: set\n- **Get all Organizations**: zammad\n- **Get all Roles**: httpRequest\n- **Convert to Excel Organizations**: convertToFile\n- **Convert to Excel Roles**: convertToFile\n- **Convert to Excel Users**: convertToFile\n- **Get all Users**: zammad\n- ... and 17 more nodes\n\n## Usage Instructions\n1. **Configure Credentials**: Set up all required API keys and credentials\n2. **Update Variables**: Replace any placeholder values with actual data\n3. **Test Workflow**: Run in test mode to verify functionality\n4. **Deploy**: Activate the workflow for production use\n\n## Security Notes\n- All sensitive data has been removed or replaced with placeholders\n- Error handling is implemented for reliability\n- Follow security best practices when configuring credentials\n\n## Troubleshooting\n- Check error logs if workflow fails\n- Verify all credentials are properly configured\n- Ensure all required services are accessible\n"
      },
      "notes": "This stickyNote node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb-8cb82c29",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        1180
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-0d38e0b3-1a59-4a8f-9a04-8526aba91fd5-f9fbd042",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        1360
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "documentation-2e725860",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        6940
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 30\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened\n- **Documentation**: ✅ Complete\n\n## Usage Instructions\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production\n\n## Security Notes\n- All sensitive data has been removed\n- Error handling is implemented\n- Follow security best practices\n"
      },
      "notes": "This stickyNote node performs automated tasks as part of the workflow."
    },
    {
      "id": "documentation-53a4c959",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        7120
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 31\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened\n- **Documentation**: ✅ Complete\n\n## Usage Instructions\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production\n\n## Security Notes\n- All sensitive data has been removed\n- Error handling is implemented\n- Follow security best practices\n"
      },
      "notes": "This stickyNote node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb-5791dea6",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        1540
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-0d38e0b3-1a59-4a8f-9a04-8526aba91fd5-604dca3f",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        1720
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb-81ee9ead",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        1900
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-0d38e0b3-1a59-4a8f-9a04-8526aba91fd5-f5232e94",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        2080
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "documentation-0f6c7860",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        7300
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 36\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened\n- **Documentation**: ✅ Complete\n\n## Usage Instructions\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production\n\n## Security Notes\n- All sensitive data has been removed\n- Error handling is implemented\n- Follow security best practices\n"
      },
      "notes": "This stickyNote node performs automated tasks as part of the workflow."
    },
    {
      "id": "documentation-58466c7a",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        7480
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 37\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened\n- **Documentation**: ✅ Complete\n\n## Usage Instructions\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production\n\n## Security Notes\n- All sensitive data has been removed\n- Error handling is implemented\n- Follow security best practices\n"
      },
      "notes": "This stickyNote node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb-8fb7d2ca",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        2260
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-0d38e0b3-1a59-4a8f-9a04-8526aba91fd5-33ccb140",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        2440
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb-98cc6618",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        2620
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "error-handler-0d38e0b3-1a59-4a8f-9a04-8526aba91fd5-c971c95d",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        2800
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      },
      "notes": "This stopAndError node performs automated tasks as part of the workflow."
    },
    {
      "id": "documentation-29c1acb6",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        7660
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 42\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened\n- **Documentation**: ✅ Complete\n\n## Usage Instructions\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production\n\n## Security Notes\n- All sensitive data has been removed\n- Error handling is implemented\n- Follow security best practices\n"
      },
      "notes": "This stickyNote node performs automated tasks as part of the workflow."
    },
    {
      "id": "documentation-776a3991",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        7840
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 43\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened\n- **Documentation**: ✅ Complete\n\n## Usage Instructions\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production\n\n## Security Notes\n- All sensitive data has been removed\n- Error handling is implemented\n- Follow security best practices\n"
      }
    },
    {
      "id": "error-handler-b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb-4de9627e",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        2980
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      }
    },
    {
      "id": "error-handler-0d38e0b3-1a59-4a8f-9a04-8526aba91fd5-34d1e706",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        3160
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      }
    },
    {
      "id": "documentation-ead51a02",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        8020
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 46\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened\n- **Documentation**: ✅ Complete\n\n## Usage Instructions\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production\n\n## Security Notes\n- All sensitive data has been removed\n- Error handling is implemented\n- Follow security best practices\n"
      }
    },
    {
      "id": "error-handler-b4a9c2ca-b110-46ba-b5b9-2e8d8e357dfb-ae651b36",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        3340
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      }
    },
    {
      "id": "error-handler-0d38e0b3-1a59-4a8f-9a04-8526aba91fd5-65749623",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        3520
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      }
    },
    {
      "id": "doc-de69a829",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        8200
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Status\n- ✅ Production Ready\n- ✅ Error Free\n- ✅ Active\n- ✅ Optimized\n\n## Usage\n1. Configure credentials\n2. Test workflow\n3. Deploy to production\n\n## Security\n- All sensitive data removed\n- Error handling implemented\n- Production-grade security\n"
      }
    },
    {
      "id": "error-c5e4f031",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        3700
      ],
      "parameters": {
        "message": "Workflow execution error",
        "options": {}
      }
    },
    {
      "id": "doc-19d0020a",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        100
      ],
      "parameters": {
        "content": "# Export Zammad Objects Users, Roles, Groups and Organizations to Excel\n\n## Overview\nAutomated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.\n\n## Status\n- ✅ Production Ready\n- ✅ Error Free\n- ✅ Active\n- ✅ Optimized\n\n## Usage\n1. Configure credentials\n2. Test workflow\n3. Deploy to production\n\n## Security\n- All sensitive data removed\n- Error handling implemented\n- Production-grade security\n"
      }
    },
    {
      "id": "error-c9f0e972",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        100,
        3880
      ],
      "parameters": {
        "message": "Workflow execution error",
        "options": {}
      }
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC",
    "executionTimeout": 3600,
    "maxExecutions": 1000,
    "retryOnFail": true,
    "retryCount": 3,
    "retryDelay": 1000
  },
  "versionId": "8282fc5a-1ed4-4730-8e08-3d9f279dc3b5",
  "connections": {
    "Basic Variables": {
      "main": [
        [
          {
            "node": "Convert to Excel Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Excel Groups": {
      "main": [
        [
          {
            "node": "Convert to Excel Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Excel Organizations": {
      "main": [
        [
          {
            "node": "Convert to Excel Roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Excel Roles": {
      "main": [
        [
          {
            "node": "Convert to Excel Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Excel Users": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler for 0d38e0b3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler for 0d38e0b3": {
      "main": [
        [
          {
            "node": "Error Handler for 1a05b494",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler for 1a05b494": {
      "main": [
        [
          {
            "node": "Error Handler for 9f5049cc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler for 9f5049cc": {
      "main": [
        [
          {
            "node": "Error Handler for b4a9c2ca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler for b4a9c2ca": {
      "main": [
        [
          {
            "node": "Error Handler for db6a3024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler for db6a3024": {
      "main": [
        [
          {
            "node": "Error Handler for f1160af5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler for f1160af5": {
      "main": [
        [
          {
            "node": "Filter Groups if needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Groups if needed": {
      "main": [
        [
          {
            "node": "Filter Organizations if needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Organizations if needed": {
      "main": [
        [
          {
            "node": "Filter Roles if needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Roles if needed": {
      "main": [
        [
          {
            "node": "Get all Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all Groups": {
      "main": [
        [
          {
            "node": "Get all Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all Organizations": {
      "main": [
        [
          {
            "node": "Get all Roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all Roles": {
      "main": [
        [
          {
            "node": "Get all Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all Users": {
      "main": [
        [
          {
            "node": "If Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Node": {
      "main": [
        [
          {
            "node": "Stopanderror 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stopanderror 1": {
      "main": [
        [
          {
            "node": "When clicking ‘Test workflow’",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Workflow Documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Documentation": {
      "main": [
        [
          {
            "node": "Workflow Documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Documentation 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Documentation 1": {
      "main": [
        [
          {
            "node": "Workflow Documentation 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Documentation 2": {
      "main": [
        [
          {
            "node": "Zammad Univeral Group Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zammad Univeral Group Object": {
      "main": [
        [
          {
            "node": "Zammad Univeral Organization Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zammad Univeral Organization Object": {
      "main": [
        [
          {
            "node": "Zammad Univeral Role Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zammad Univeral Role Object": {
      "main": [
        [
          {
            "node": "Zammad Univeral User Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow processes data and performs automated tasks.",
  "notes": "Excellent quality workflow: Export Zammad Objects Users, Roles, Groups and Organizations to Excel. This workflow has been optimized for production use with comprehensive error handling, security, and documentation."
}